{{#if @custom.logo_for_dark_version}}
	{{#match @custom.palette_de_couleurs "Dark"}}
	<a href="{{@site.url}}" class="is-image"><img src="{{@custom.logo_for_dark_version}}" alt="{{@site.title}} home"></a>
	{{else match @custom.palette_de_couleurs "Auto"}}
	<a href="{{@site.url}}" class="is-dark is-image"><img src="{{@custom.logo_for_dark_version}}" alt="{{@site.title}} home"></a>
	{{/match}}
	{{^match @custom.palette_de_couleurs "Dark"}}
	<a href="{{@site.url}}"{{#if @site.logo}} class="is-image"><img src="{{@site.logo}}" alt="{{@site.title}} home">{{else}} class="is-title">{{@site.title}}{{/if}}</a>
	{{/match}}
{{else}}
	<a href="{{@site.url}}"{{#if @site.logo}} class="is-image"><img src="{{@site.logo}}" alt="{{@site.title}} home">{{else}} class="is-title">{{@site.title}}{{/if}}</a>
{{/if}}